.container.dropdown.text-center
  .row#dropdown
    .col-md-12.dropdown-section
      .dropdown.level
        %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
          %span
            = comparison_block.title
          %i.fa.fa-chevron-down
        %ul.dropdown-menu
          %li
            = highlight_active_nav_link("GitHub.com vs. GitLab Self-hosted", "/comparison/gitlab-self-hosted-vs-github.html#dropdown")
          %li
            = highlight_active_nav_link("GitHub Enterprise vs. GitLab EE", "/comparison/gitlab-ee-vs-github-enterprise.html#dropdown")
          %li
            = highlight_active_nav_link("GitHub.com vs. GitLab.com", "/comparison/gitlab-vs-github.html#dropdown")
          %li
            = highlight_active_nav_link("Bitbucket.org vs. GitLab.com", "/comparison/gitlab-com-vs-bitbucket-org.html#dropdown")
          %li
            = highlight_active_nav_link("Bitbucket Server vs. GitLab", "/comparison/gitlab-ce-ee-vs-bitbucket-server.html#dropdown")
          %li
            = highlight_active_nav_link("GitLab EE vs. GitLab CE", "/comparison/gitlab-ce-vs-gitlab-ee.html#dropdown")
          %li
            = highlight_active_nav_link("GitLab EE Starter vs. GitLab EE Premium", "/comparison/gitlab-ees-vs-gitlab-eep.html#dropdown")
          %li
            = highlight_active_nav_link("SaaS vs. GitLab", "/comparison/gitlab-ce-ee-vs-saas.html#dropdown")
          %li
            = highlight_active_nav_link("SVN vs. GitLab", "/comparison/gitlab-vs-svn.html#dropdown")
          %li
            = highlight_active_nav_link("Jenkins vs. GitLab CI", "/comparison/gitlab-vs-jenkins.html#dropdown")
          %li
            = highlight_active_nav_link("Travis CI vs. GitLab CI", "/comparison/gitlab-vs-travis-ci.html#dropdown")
          %li
            = highlight_active_nav_link("GitHub Pull Request vs. GitLab Merge Request", "/comparison/gitlab-merge-request-vs-github-pull-request.html#dropdown")
          %li
            = highlight_active_nav_link("CircleCI vs. GitLab CI", "/comparison/gitlab-vs-circleci.html#dropdown")
          %li
            = highlight_active_nav_link("Trello vs. GitLab Issue Boards", "/comparison/gitlab-issueboards-vs-trello.html#dropdown")
          %li
            = highlight_active_nav_link("Asana vs. GitLab Issue Boards", "/comparison/gitlab-issueboards-vs-asana.html#dropdown")
          %li
            = highlight_active_nav_link("GitHub Pages vs. GitLab Pages", "/comparison/gitlab-pages-vs-github-pages.html#dropdown")
%h1.titles-comparison-companies.text-center
  = comparison_block.title
- if (comparison_block.feature_page != "null")
  %h3.text-center
    = comparison_block.feature_page
    = link_to comparison_block.feature_page_link_description, comparison_block.feature_page_link
    = comparison_block.feature_page_link_description_2
%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        FEATURES
      %th.text-center
        - if (product_one.logo != "null")
          %img{ src: "#{product_one.logo}", alt: "#{product_one.name}", class: "logo" }
        - else
          = product_one.name
      %th.text-center.table-title-logo
        - if (product_two.logo != "null")
          %img{ src: "#{product_two.logo}", alt: "#{product_two.name}", class: "logo" }
        - else
          = product_two.name
  %tbody.header.first
    - data.comparisons.features.each do |feature|
      - if (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
        %tr
          %td.feature-in-list
            %p.feature-in-list-title
              %strong= feature.title
            %p
              = feature.description
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - if (feature.public_send(key_one) == "sortof")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_one) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_one) == false)
              = partial "includes/icons/comparison/no-icon.svg"
          %td.check-container.text-center
            - if (feature.public_send(key_two) == "sortof")
              = partial "includes/icons/comparison/maybe-icon.svg"
            - if (feature.public_send(key_two) == true)
              = partial "includes/icons/comparison/yes-icon.svg"
            - if (feature.public_send(key_two) == false)
              = partial "includes/icons/comparison/no-icon.svg"


.last-updated-section
  %p.clearfix
    - if (comparison_block.pdf != nil)
      = link_to "Download as PDF", "/comparison/pdfs/#{comparison_block.pdf}", class: "featured-item-button pull-right", download: "Comparison PDF", target: "_blank"
  %p
    Since GitLab fans wrote most of the text here there is a pro-GitLab bias. Nonetheless we try hard to ensure the
    comparisons are fair and factual. Please also add things that are great in other products but missing in GitLab.
    If you find something that is invalid, biased, missing, or out of date in the comparisons, please open a merge request
    for this website to correct it. As with all the pages on this website you can find where this page lives in the
    repository via the link in the footer. All names and logos are recognized trademarks of their respective owners.
