:markdown
  ## Requirements

  * Minimum of one year experience providing administrative support for a Human Resources or People Operations team, preferably in a startup software or technology company
  * Proven ability to multitask and prioritize workload under the pressure of deadlines and in a fast pace environment
  * Excellent communication and interpersonal skills
  * Innovative and creative, always looking to optimize processes and workflow
  * Exceptional attention to detail and accuracy
  * Excellent computer skills with an ability to adapt to new and complex systems
  * Prior experience using an applicant tracking system, Workable experience is a plus
  * Willingness to learn and use software tools including Git and GitLab
  * Organized, efficient, and proactive with a keen sense of urgency
  * Ability to recognize and appropriately handle highly sensitive and confidential information
  * Ability to work in alignment with Mountain and Pacific Standard Time
  * Experience working remotely is a plus

  * You share our [values](/handbook/values), and work in accordance with those values.
