:markdown

  As a junior designer for GitLab you will be responsible for assisting our lead designer in establishing and maintaining a cohesive visual language for the GitLab brand across all channels. Projects will range from the GitLab website, diagrams and infographics, to swag, digital ads, and print collateral. Our ideal candidate has a strong design skill-set, takes direction openly and positively, and is very detail oriented.
