---
layout: position_page
title: "Developer"
salary: 87337
---

<%= partial "includes/positions/developer/developer_description" %>
<%= partial "includes/positions/developer/responsibilities" %>

## Specialists
<%= partial "includes/positions/developer/ci_cd_pipelines" %>
<%= partial "includes/positions/developer/security" %>

<%= partial "includes/positions/developer/staff" %>
<%= partial "includes/positions/developer/senior" %>
<%= partial "includes/positions/developer/junior" %>
<%= partial "includes/positions/developer/internship" %>

<%= partial "includes/positions/developer/workflow" %>
<%= partial "includes/positions/developer/relevant_links" %>
